$COLOR__ACCENT: #1751D0;
$COLOR__MAIN_BLACK: #171717;

:global(.rdp-root) {
  --rdp-accent-color: #{$COLOR__ACCENT};
}

.day-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.day > button {
  @extend .day-text;
}

.selected > button {
  background-color: $COLOR__ACCENT;
  color: #fff;
}

.outside > button {
  color: $COLOR__MAIN_BLACK;
  opacity: 0.38;
}

.weekday {
  @extend .day-text;
}
