.container {
  height: 100dvh;
  display: grid;
  grid-template-columns: minmax(240px, 20%) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header"
  "sidebar mainContent";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightcoral;
}

.mainContent {
  grid-area: mainContent;
  background-color: #F6F6F6;
}
